<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
    <script src="./js/Sortable.min.js"></script>
    <script src="./js/vuedraggable.umd.min.js"></script>
    <script src="./js/vue-router.js"></script>
</head>

<body>
    <div id="app" class="home-div">
        <div class="top">
            <div class="logo">
                logo
            </div>
            <div class="main">
                <div class="item" @click="iconClicks['leftIconClick']('/')">
                    <span class="icon home"></span>首页
                </div>
            </div>
            <div class="operate">
                <div class="search">
                    <input v-model="quanwenjiansuo" type="text" placeholder="跨对象搜索">
                    <span class="icon quanwenjiansuo"></span>
                </div>
                <div class="operate-main">
                    <div class="item icon" @click="iconClick(item.clickStr)" :class="`${item.name} ${item.iconSize}`"
                        v-for="(item, index) in operateIcons" :key="index"></div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-left">
                <div class="item" v-for="(item, index) in leftIcons" :key="Math.random(1)"
                    @click="iconClicks['leftIconClick'](item.path)">
                    <div class="icon icon-l guanbi_jiaobiao" v-show="isSetting"
                        @click="iconClicks['leftIconClose'](index)"></div>
                    <div class="icon icon-m" :class="item.label"></div>
                </div>
                <div class="item" v-show="isSetting">
                    <div class="icon icon-l jia"></div>
                </div>
            </div>
            <div class="main-right" ref="main">
                <!-- <draggable v-model="styleList" handle=".mover" group="control-div" @start="onStart" @end="onEnd">
                    <transition-group>
                        <control-div v-for="(item, index) in styleList" :key="Math.random(1)" :number="index" v-model='item.style' :is-setting="isSetting" @index="iconClicks['controlClose']">
                            <div class="mover">123</div>
                        </control-div>
                    </transition-group>
                </draggable> -->

                <!-- <div class="item" :style='{width:"550px",height:"300px"}'>
                    <echarts-div title="" title-icon="leibie" />
                </div> -->

                <router-view></router-view>

                <!-- <component :is="item.is" :img-data="item.imgData" :progress="item.progress" :title="item.title" :title-icon="item.titleIcon" :msg-div="item.msgDiv" /> -->
            </div>
        </div>
    </div>

</body>
<script src="./js/mixin/mixins.js"></script>
<script src="./js/view/home-div.js"></script>
<script src="./js/view/leibie-div.js"></script>
<script src="./js/components/title-div.js"></script>
<script src="./js/components/control-div.js"></script>
<script src="./js/components/common-div.js"></script>
<script src="./js/components/kjfw-div.js"></script>
<script src="./js/components/echarts-div.js"></script>
<script src="./js/components/img-div.js"></script>
<script src="./js/components/progress-div.js"></script>
<script src="./js/components/img-msg-div.js"></script>
<script src="./js/components/paging-div.js"></script>
<script src="./js/components/pop-up-div.js"></script>
<script src="./js/components/mask.js"></script>
<script>
    // 全局注册组件
    Vue.component('vuedraggable', window.vuedraggable)
    const routes = [{
        path: '/',
        component: {
            template: '<home-div />'
        }
    }, {
        path: '/leibie',
        component: {
            template: '<leibie-div />'
        }
    }]
    const router = new VueRouter({
        routes // (缩写) 相当于 routes: routes
    })
    var vm = new Vue({
        el: "#app",
        router,
        mixins: [mixin],
        provide() {
            return {
                parent: this
            }
        },
        data() {
            return {
                MX: 0,
                MY: 0,
                MW: 0,
                MH: 0,
                mask: null,
                isSetting: false,
                iconClicks: {
                    "homeSetting": () => {
                        this.isSetting = !this.isSetting
                    },
                    "controlClose": (index) => {
                        let list = JSON.parse(JSON.stringify(this.styleList))
                        list.splice(index, 1)
                        // this.styleList.splice(index, 1)
                        this.styleList = list
                        console.log("controlClose", list, this.styleList, index)
                    },
                    "leftIconClose": (index) => {
                        let list = JSON.parse(JSON.stringify(this.leftIcons))
                        list.splice(index, 1)
                        this.leftIcons = list
                        console.log("leftIconClose", index)
                    },
                    "leftIconClick": (str) => {
                        this.$router.replace({
                            path: str
                        })
                    },
                },
                homeSet: false,
                styleList: [{
                    id: 0,
                    style: {
                        width: 300,
                        height: 200,
                    }
                }, {
                    id: 1,
                    style: {
                        width: 350,
                        height: 250,
                    }
                }, {
                    id: 2,
                    style: {
                        width: 400,
                        height: 300,
                    }
                },],
                quanwenjiansuo: "",
                operateIcons: [{
                    name: "zaixianbangzhu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "shezhi",
                    iconSize: "icon-m",
                    clickStr: "homeSetting"
                }, {
                    name: "lieshu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "huanfu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "suoping",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "tuichu",
                    iconSize: "icon-l",
                    clickStr: ""
                }],
                leftIcons: [{
                    label: "leibie",
                    path: "/leibie"
                }, {
                    label: "kehuguanli",
                    path: "/kehuguanli"
                }, {
                    label: "huodong",
                    path: "/huodong"
                }, {
                    label: "wenjianjia_zhankai",
                    path: "/wenjianjia_zhankai"
                }, {
                    label: "fenlei",
                    path: "/fenlei"
                }, {
                    label: "chanyeleibie",
                    path: "/chanyeleibie"
                }, {
                    label: "jichuguanli",
                    path: "/jichuguanli"
                }, {
                    label: "zhengcepipei",
                    path: "/zhengcepipei"
                },]
            }
        },
        methods: {
            iconClick(str) {
                console.log("iconClick", str)
                if (str == "") return
                this.iconClicks[str]()
            },
            getMainXY() {
                const {
                    x,
                    y,
                    width,
                    height
                } = this.$refs.main.getBoundingClientRect()
                this.MX = x
                this.MY = y
                this.MW = width
                this.MH = height
            },
            changeStyleList(index) {
                console.log("changeStyleList", index)
            },
        },
        created() {
            this.mask = new Mask()
        },
        mounted() {
            this.getMainXY()
        },
    })
</script>

</html>