<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
</head>

<body>
    <div id="app" class="home-div">
        <div class="top">
            <div class="logo">
                logo
            </div>
            <div class="main">
                <div class="item">
                    <span class="icon home"></span>首页
                </div>
            </div>
            <div class="operate">
                <div class="search">
                    <input v-model="quanwenjiansuo" type="text" placeholder="跨对象搜索">
                    <span class="icon quanwenjiansuo"></span>
                </div>
                <div class="operate-main">
                    <div class="item icon" @click="iconClick(item.clickStr)" :class="`${item.name} ${item.iconSize}`" v-for="(item, index) in operateIcons" :key="index"></div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-left">
                <!-- <div class="item" v-for="(item, index) in leftIcons" :key="index">
                    <div class="icon" :class="item"></div>
                </div> -->
            </div>
            <div class="main-right" ref="main">
                <control-div v-for="(item, index) in styleList" :key="Math.random(1)" :number="index" v-model='item.style' :is-setting="isSetting" @index="iconClicks['controlClose']">
                    <div>123</div>
                </control-div>
                <!-- <div class="item" :style='{width:"550px",height:"300px"}'>
                    <echarts-div title="" title-icon="leibie" />
                </div> -->

                <!-- <control-div class="item" v-for="(item, index) in mainItems" :key="index" v-model='item.style' :is-setting="isSetting">
                    <template v-if="item.is == 'common-div'">
                        <common-div :img-data="item.imgData" :progress="item.progress" :title="item.title" :title-icon="item.titleIcon" :msg-div="item.msgDiv"></common-div>
                    </template>
                    <template v-if="item.is == 'kjfw-div'">
                        <kjfw-div :title="item.title" :title-icon="item.titleIcon" :main="item.main" ></kjfw-div>
                    </template>
                    <template v-if="item.is == 'echarts-div'">
                        <echarts-div title="" title-icon="leibie" />
                    </template>
                </control-div> -->
                <!-- <component :is="item.is" :img-data="item.imgData" :progress="item.progress" :title="item.title" :title-icon="item.titleIcon" :msg-div="item.msgDiv" /> -->
            </div>
        </div>
    </div>
</body>
<script src="./js/mixins.js"></script>
<script src="./js/control-div.js"></script>
<script src="./js/common-div.js"></script>
<script src="./js/kjfw-div.js"></script>
<script src="./js/echarts-div.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        mixins: [mixin],
        provide() {
            return {
                parent: this
            }
        },
        data() {
            return {
                MX: 0,
                MY: 0,
                MW: 0,
                MH: 0,
                isSetting: false,
                iconClicks: {
                    "homeSetting": () => {
                        this.isSetting = !this.isSetting
                    },
                    "controlClose": (index) => {
                        let list = JSON.parse(JSON.stringify(this.styleList))
                        list.splice(index, 1)
                            // this.styleList.splice(index, 1)
                        this.styleList = list
                        console.log("controlClose", list, this.styleList, index)
                    }
                },
                homeSet: false,
                styleList: [{
                    id: 0,
                    style: {
                        width: 300,
                        height: 200,
                    }
                }, {
                    id: 1,
                    style: {
                        width: 350,
                        height: 250,
                    }
                }, {
                    id: 2,
                    style: {
                        width: 400,
                        height: 300,
                    }
                }, ],
                quanwenjiansuo: "",
                operateIcons: [{
                    name: "zaixianbangzhu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "shezhi",
                    iconSize: "icon-m",
                    clickStr: "homeSetting"
                }, {
                    name: "lieshu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "huanfu",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "suoping",
                    iconSize: "icon-m",
                    clickStr: ""
                }, {
                    name: "tuichu",
                    iconSize: "icon-l",
                    clickStr: ""
                }],
                leftIcons: [
                    "leibie", "kehuguanli", "huodong", "wenjianjia_zhankai", "fenlei", "chanyeleibie", "jichuguanli", "zhengcepipei"
                ],
                mainItems: [{
                    is: "common-div",
                    id: 0,
                    title: "个人信息",
                    titleIcon: "cuiban",
                    imgData: {
                        show: true,
                        img: "",
                        data: ["小菲，上午好！", "最近登录时间：2022年/08/08 13:03", "明天有暴雨，记得出门带伞噢！"]
                    },
                    progress: {
                        show: true,
                        pace: "40%",
                        name: "课时"
                    },
                    msgDiv: [{
                        icon: "huiyi",
                        msg: {
                            title: "《关于公司全面预算规划会议》",
                            time: "08/10 18:12",
                            data: []
                        }
                    }, {
                        icon: "yikatong",
                        msg: {
                            title: "一卡通余额:**************",
                            time: "08/10 18:12",
                            data: []
                        }
                    }, {
                        icon: "wangzhan",
                        msg: {
                            title: "个人网站:xxx.xxx.xxx",
                            time: "08/10 18:12",
                            data: []
                        }
                    }, ],
                    style: {
                        width: 350,
                        height: 200,
                    }
                }, {
                    is: "common-div",
                    id: 1,
                    title: "待办",
                    titleIcon: "daiban",
                    imgData: {
                        show: false,
                    },
                    progress: {
                        show: false,
                    },
                    style: {
                        width: 350,
                        height: 200,
                    },
                    msgDiv: [{
                        isGroup: false,
                        icon: "folderShare",
                        msg: {
                            title: "草稿",
                            time: "08/10 18:12",
                            data: []
                        }
                    }, {
                        isGroup: true,
                        icon: "olderOpen",
                        active: true,
                        unAIcon: "folderShare",
                        AIcon: "olderOpen",
                        msg: {
                            title: "被退回",
                            time: "08/10 18:12",
                            data: [{
                                text: "项目立项申请",
                                time: "08/10 18:12"
                            }, {
                                text: "报销申请",
                                time: "08/10 18:12"
                            }, {
                                text: "资产领用申请",
                                time: "08/10 18:12"
                            }]
                        }
                    }, {
                        isGroup: true,
                        icon: "folderShare",
                        active: false,
                        unAIcon: "folderShare",
                        AIcon: "olderOpen",
                        msg: {
                            title: "被退回",
                            time: "08/10 18:12",
                            data: [{
                                text: "项目立项申请",
                                time: "08/10 18:12"
                            }, {
                                text: "报销申请",
                                time: "08/10 18:12"
                            }, {
                                text: "资产领用申请",
                                time: "08/10 18:12"
                            }]
                        }
                    }, ],
                }, {
                    is: "kjfw-div",
                    id: 2,
                    style: {
                        width: 350,
                        height: 200,
                    },
                    title: "待办",
                    titleIcon: "kuaijiefangwen",
                    main: [{
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, {
                        title: "待办",
                        titleIcon: "kuaijiefangwen",
                    }, ]
                }]
            }
        },

        methods: {
            iconClick(str) {
                console.log("iconClick", str)
                if (str == "") return
                this.iconClicks[str]()
            },
            getMainXY() {
                const {
                    x,
                    y,
                    width,
                    height
                } = this.$refs.main.getBoundingClientRect()
                this.MX = x
                this.MY = y
                this.MW = width
                this.MH = height
            },
            changeStyleList(index) {
                console.log("changeStyleList", index)
            },
        },
        mounted() {
            this.getMainXY()
        },
    })
</script>

</html>